html {
  height: 100vh;
  width: 100vw;
}

body {
  min-height: 100vh;
  min-width: 100vw;
}

/* avatar Google */

.demo-avatar {
  position: relative;
	display: inline-block;
  background-image: url('/assets/img/pic_user.png'); 
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	margin-top: 1em;
  background-size: 60px;
	border-radius: 20px;	
}

.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#icon-post{
  display: inline;
}

#userName {
  font-size-adjust: inherit;
}

.boxMsg {
  border-radius: 0.4em;
  margin: 5% auto;
  background-color: rgb(51, 153, 204, 0.1);
  text-align: left;
  margin-bottom: 6em;
  padding: 0 16%;
}


.icon-btn{
  margin-left: -5em;
 
}

