
/* avatar Google */

.demo-avatar {
  position: relative;
	display: inline-block;
  background-image: url('/assets/img/pic_user.png'); 
	background-repeat: no-repeat;
	width: 60px;
	height: 60px;
	margin-top: 1em;
  background-size: 60px;
	border-radius: 20px;
	margin-bottom: 10em;
	
}

#user-pic{
	margin-left: 2em;
}



.demo-avatar-dropdown {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

#user-name{
	margin-top: 5em;
}







